{% extends 'base.html.twig' %}
{% block head %}
     {{ parent() }}

{% endblock %}
{% block title %} Site d'annonces auto {% endblock %}

{% block body %}

    <div class="wrapper">
        <div class="page-header page-header-small d-none d-lg-block">
            <div class="page-header-image" data-parallax="true"
                 style="background-image: url({{ asset('assets/images/paysage-voiture.jpg') }});"></div>
            <div class="content-center d-none d-md-block">
                <h2>Consultez notre catalogue de voitures en ligne.</h2>
            </div>
        </div>

        <div class="section clearfix border-soft" style="background: #fdfcfc;">
            <div class="container">

                <div class="row">

                    <!-- FILTRE DE RECHERCHE-->


                    <div class="col col-md-12 col-lg-3 ">
                        <div id="filter" class="bg-white pt-3 pb-3 px-3 rounded setTopBorder shadow-sm  border-soft sticky-scroll-box"
                             data-spy="affix">
                            <span class="close d-block d-lg-none">&times;</span>
                            <div class="d-flex align-items-center justify-content-between">
                                <h5 class="">Filtre de recherche</h5>
                            </div>
                            <div id="filter-content">
                               {#  <form action="/annonces.html" method="get">
                                    <hr>
                                    <div class="row">
                                        <div class="col-12 mt-3">
                                            <label for="keyword" class="text-left text-black-50">Une idée ?</label>
                                            <input type="text" class="form-control" id="keyword" placeholder="ex : Peugeot"  onchange="updateFilter(this, 'keyword');"/>
                                            <small id="keywordHelp" class="form-text text-muted">Vous pouvez entrer un mot clé</small>
                                        </div>
                                        <div class="col-12 mt-3">
                                            <label for="inputStateBrand" class="text-left text-black-50">Marque</label>
                                            <select id="inputStateBrand" class="form-control"  onchange="updateFilter(this, 'marque');">
                                                <option selected disabled>Sélectionner une marque</option>
                                                <option selected value="any">Toutes les marques</option>
                                                <option value="bmw">BMW</option>
                                                <option value="porsche">Porsche</option>
                                                <option value="peugeot">Peugeot</option>
                                            </select>
                                            <small id="brandHelp" class="form-text text-muted">Vous pouvez choisir une marque de
                                                voiture.</small>
                                        </div>
                                        <div class="col-12 mt-3">
                                            <label for="inputStateModel" class="text-left text-black-50">Modèle </label>
                                            <select id="inputStateModel" class="form-control"  onchange="updateFilter(this, 'modele');">
                                                <option selected disabled>Sélectionner un modèle</option>
                                                <option selected value="any">Tous les modèles</option>
                                                <option value="s">S</option>
                                                <option value="carrera">Carrera</option>
                                            </select>
                                            <small id="modelHelp" class="form-text text-muted">Vous pouvez choisir le modèle du
                                                véhicule</small>
                                        </div>

                                        <div class="col-12 mt-3">
                                            <label for="inputStateEngine" class="text-left text-black-50">Type de carburant</label>
                                            <select id="inputStateCarburant" class="form-control"  onchange="updateFilter(this, 'carburant');">
                                                <option selected disabled>Sélectionner le type de carburant</option>
                                                <option selected value="any">Aucune préférence</option>
                                                <option value="essence">Essence</option>
                                                <option value="diesel">Diesel</option>
                                                <option value="electrique">Electrique</option>
                                            </select>
                                            <small id="modelHelp" class="form-text text-muted">Vous pouvez choisir votre modèle</small>
                                        </div>
                                        <div class="col-12 mt-3">
                                            <label for="inputStateTransmission" class="text-left text-black-50">Type de transmission</label>
                                            <select id="inputStateTransmission" class="form-control"  onchange="updateFilter(this, 'transmission');">
                                                <option selected disabled>Sélectionner le type de carburant</option>
                                                <option selected value="any">Aucune préférence</option>
                                                <option value="auto-6">6 boites (automatique)</option>
                                                <option value="manuel-6">6 boites (manuel)</option>
                                            </select>
                                            <small id="modelHelp" class="form-text text-muted">Vous pouvez choisir le type de
                                                transmission</small>
                                        </div>
                                        <div class="col-12 mt-2">
                                            <label for="sliderPriceDesktop" class="text-left text-black-50">Prix</label>
                                            <div id="sliderPriceDesktop"
                                                 class="slider slider-primary noUi-target noUi-ltr noUi-horizontal mt-3"  onchange="updateFilter(this, 'price');">
                                            </div>
                                            <div class="d-flex flex-row justify-content-between mt-3">
                                                <input title="Prix minimum" id="minPriceIndicator"
                                                       class="form-control mr-5 mr-md-3 priceIndicator">
                                                <input title="Prix maximum" id="maxPriceIndicator"
                                                       class="form-control ml-5 ml-md-3 priceIndicator">
                                            </div>
                                        </div>
                                        <div class="col-12 mt-3">
                                            <label for="sliderKmDesktop" class="text-left text-black-50">Kilomètrage</label>
                                            <div id="sliderKmDesktop" class="slider slider-primary noUi-target noUi-ltr noUi-horizontal mt-3" onchange="updateFilter(this, 'kilometer');">
                                            </div>
                                            <div class="d-flex flex-row justify-content-between mt-3">
                                                <input title="Nombre de kilomètre minimum" id="minKmIndicator"
                                                       class="form-control mr-5 mr-md-3 priceIndicator">
                                                <input title="Nombre de kilomètre maximum" id="maxKmIndicator"
                                                       class="form-control ml-5 ml-md-3 priceIndicator">
                                            </div>
                                        </div>
                                        <div class="col-12 mt-3">
                                            <label for="sliderYearDesktop" class="text-left text-black-50">Année</label>
                                            <div id="sliderYearDesktop"
                                                 class="slider slider-primary noUi-target noUi-ltr noUi-horizontal mt-3"  onchange="updateFilter(this, 'year');">
                                            </div>
                                            <div class="d-flex flex-row justify-content-between mt-3">
                                                <input title="Nombre de d'année minimum" id="minYearIndicator"
                                                       class="form-control mr-5 mr-md-3 ">
                                                <input title="Nombre de d'année maximum" id="maxYearIndicator"
                                                       class="form-control ml-5 ml-md-3 ">
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="d-flex flex-column justify-content-center">
                                        <button class="btn btn-primary" id="searchFilter">Lancer une recherche </button>
                                    </div>
                                </form>#}

                                {{ form_start(form) }}
                                <div class="form-group">
                                    {{ form_label(form.q) }}
                                    {{ form_widget(form.q) }}
                                    <span>{{ form_help(form.q) }}</span>
                                    <span>{{ form_errors(form.q) }} </span>
                                </div>
                                <div class="form-group">
                                    <label for="sliderPrice" class="text-left text-black-50">Prix</label>
                                    <div id="sliderPrice"
                                         class="slider slider-primary noUi-target noUi-ltr noUi-horizontal mt-3">
                                    </div>
                                    <div class="d-flex flex-row justify-content-between mt-3">
                                        {{ form_widget(form.minPrice, {'attr' : { 'class': 'mr-5 mr-md-2'}}) }}
                                        {{ form_widget(form.maxPrice, { 'attr' : { 'class': 'ml-5 ml-md-2'}}) }}
                                    </div>
                                    <span>{{ form_help(form.minPrice) }}</span>
                                    <span>{{ form_help(form.maxPrice) }}</span>
                                    <span>{{ form_errors(form.minPrice) }} </span>
                                    <span>{{ form_errors(form.maxPrice) }} </span>
                                </div>
                                <div class="form-group">
                                    <label for="sliderKm" class="text-left text-black-50">Kilomètre</label>
                                    <div id="sliderKm"
                                         class="slider slider-primary noUi-target noUi-ltr noUi-horizontal mt-3">
                                    </div>
                                    <div class="d-flex flex-row justify-content-between mt-3">
                                        {{ form_widget(form.minKilometer, {'attr' : { 'class': 'mr-5 mr-md-2'}}) }}
                                        {{ form_widget(form.maxKilometer, { 'attr' : { 'class': 'ml-5 ml-md-2'}}) }}
                                    </div>
                                    <span>{{ form_help(form.minKilometer) }}</span>
                                    <span>{{ form_help(form.maxKilometer) }}</span>
                                    <span>{{ form_errors(form.minKilometer) }} </span>
                                    <span>{{ form_errors(form.maxKilometer) }} </span>
                                </div>
                                <div class="form-group">
                                    <label for="sliderYear" class="text-left text-black-50">Année</label>
                                    <div id="sliderYear"
                                         class="slider slider-primary noUi-target noUi-ltr noUi-horizontal mt-3">
                                    </div>
                                    <div class="d-flex flex-row justify-content-between mt-3">
                                        {{ form_widget(form.minYear, {'attr' : { 'class': 'mr-5 mr-md-2'}}) }}
                                        {{ form_widget(form.maxYear, { 'attr' : { 'class': 'ml-5 ml-md-2'}}) }}
                                    </div>
                                    <span>{{ form_help(form.minYear) }}</span>
                                    <span>{{ form_help(form.maxYear) }}</span>
                                    <span>{{ form_errors(form.minYear) }} </span>
                                    <span>{{ form_errors(form.maxYear) }} </span>
                                </div>

                                <div class="d-flex flex-column justify-content-center">
                                    <button class="btn btn-primary" id="searchFilter" type="submit">Lancer une recherche </button>
                                </div>

                                {{ form_end(form) }}
                            </div>

                            </hr>
                        </div>
                    </div>

                    <div class="col-12 col-md-12 col-lg-9 mt-3 mt-md-3 mt-lg-0">
                        <div class="d-flex py-3 align-items-center justify-content-start justify-content-lg-end bg-white border-soft">
                            <span class="text-black-50">Affiche 0 - 4 sur 4</span>
                        </div>
                        <div class="row" id="listAnnonces">
                            {% for annonce in annonces %}
                                <div class="col-12">
                                    <article class="rounded annonce">
                                        <div class="card shadow-sm bg-white rounded border-soft">
                                            <div class="d-flex ">
                                                <div class="annonce-image d-flex justify-content-center bg-gray-1 py-1 px-1">
                                                    <img src="{{ annonce.image[0] }}" class="img-fluid " alt="Image de voiture {{ annonce.make }} {{ annonce.model }}"
                                                         style="object-position: center;object-fit: cover;">
                                                </div>
                                                <div class="d-flex flex-column align-content-around justify-content-center bg-white py-2 px-2">
                                                    <div class="position-absolute priceVehicule">
                                                        <span>{{ annonce.price }} €</span>
                                                    </div>
                                                    <a href="{{  }}">
                                                        <h5 class="annonce-title text-left module w-100 last-line">{{ annonce.title }}</h5>
                                                    </a>

                                                    <span class="annonce-place">
                                        {{ annonce.adress.region }}, {{ annonce.adress.postal_code }}
                                      </span>

                                                    <span class="annonce-meta text-gray mt-1">{{ annonce.year }} ¤ {{ annonce.transmission }} ¤ {{ annonce.mileage['value'] }} km ¤ {{ annonce.fuelType }}</span>
                                                    <a href="#">
                                        <span class="annonce-entity module last-line">{{ annonce.dealerId }}</small>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                    </article>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="row">
                            <div class="col">
                                {{ knp_pagination_render(annonces) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
