{% extends 'base.html.twig' %}
{% block head %}
    {{ parent() }}

{% endblock %}
{% block title %} Site d'annonces auto {% endblock %}

{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('assets/css/swiper.css') }}">
    <style>
        .swiper-container {
            width: 100%;
            height: 10rem;
            margin-left: auto;
            margin-right: auto;
        }

        .swiper-slide {
            background-size: cover;
            background-position: center;
        }

        .gallery-top {
            height: 250px;
            width: 100%;
        }

        .gallery-thumbs {
            height: 100px;
            box-sizing: border-box;
            padding: 10px 0;
        }

        @media (min-width: 768px) {
            .gallery-top {
                height: 450px;
                width: 100%;
            }

            .gallery-thumbs {
                height: 150px;
                box-sizing: border-box;
                padding: 10px 0;
            }
        }

        .gallery-thumbs .swiper-slide {
            height: 100%;
            opacity: 0.4;
        }

        .gallery-thumbs .swiper-slide-thumb-active {
            opacity: 1;
        }
    </style>

{% endblock %}

{% block body %}
    <div class="hero-wrap hero-wrap-2"
         style="background-image: url({{ asset('assets/images/bg.jpg') }});background-position: 50% 80%; height: 110px !important;"
         data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end justify-content-start">
                <div class="col-md-12 ftco-animate text-center mb-5">
                    <p class="breadcrumbs mb-0">
                        <span class="mr-3">
                            <a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a>
                        </span>
                        <span>Blog</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <section>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <nav aria-label="breadcrumb" class="mt-4">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{{ path('home') }}">Accueil</a></li>
                                    <li class="breadcrumb-item"><a href="{{ path('annonces') }}">Annonces</a></li>
                                    <li class="breadcrumb-item" aria-current="page"><a
                                                href="{{ path('annonces', { 'make': annonce.make|lower }) }}"
                                                class="text-dark">{{ annonce.make }}</a></li>
                                    <li class="breadcrumb-item active" aria-current="page"><a
                                                href="{{ path('annonces', { 'model': annonce.model|lower }) }}"
                                                class="text-dark">{{ annonce.model }}</a></li>
                                </ol>
                            </nav>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class=" ftco-degree-bg">
        <div class="container">

            <div class="row">
                <div class="col-lg-8 ftco-animate">
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                    <div class="swiper-container gallery-top" id="annonce-collection-image">
                        <div class="swiper-wrapper">{% if annonce.image[0].url is iterable %}
                                {% for image in annonce.image %}
                                    <div class="swiper-slide"
                                         style="background-image:url({{ image.url[0] }})"></div>

                                {% endfor %}
                            {% else %}

                                {% for image in annonce.image %}
                                    <div class="swiper-slide" style="background-image:url({{ image.url }})"></div>

                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="swiper-button-next swiper-button-white"></div>
                        <div class="swiper-button-prev swiper-button-white"></div>
                    </div>
                    <div class="swiper-container gallery-thumbs">
                        <div class="swiper-wrapper">
                            {% if annonce.image[0].url is iterable %}
                                {% for image in annonce.image %}

                                    <div class="swiper-slide"
                                         style="background-image:url({{ image.url[0] }})"></div>
                                {% endfor %}

                            {% else %}
                                {% for image in annonce.image %}
                                    <div class="swiper-slide" style="background-image:url({{ image.url }})"></div>

                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>


                    <h2 class="mb-3 font-weight-medium a-title">{{ annonce.title }}</h2>
                    <p style="color: #2D3748;"><i
                                class="fa fa-map-marker mr-2"></i>{% if annonce.adress is not empty %}{{ annonce.adress['city'] }}, {{ annonce.adress['postal_code'] }}{% else %} Non spécifié*{% endif %}
                    </p>
                    <h4 class="text-primary">{% if annonce.price is not empty %} {{ annonce.price | number_format(2,'.',',') }} € {% else %} Le prix n'a pas été défini. Contacter le vendeur {% endif %} </h4>

                    <hr>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="description-tab" data-toggle="tab" href="#description"
                               role="tab"
                               aria-controls="description" aria-selected="true">Caractéristiques</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="options-tab" data-toggle="tab" href="#options" role="tab"
                               aria-controls="options" aria-selected="false">Options</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="note-tab" data-toggle="tab" href="#note" role="tab"
                               aria-controls="note" aria-selected="false">Note de vendeur</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="localisation-tab" data-toggle="tab" href="#localisation" role="tab"
                               aria-controls="localisation" aria-selected="false">Localisation</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="description" role="tabpanel"
                             aria-labelledby="description-tab">
                            <div class="row mt-3">
                                <div class="col-12 col-lg-6">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item d-flex justify-content-between">
                                    <span class="text-dark"><i
                                                class="fas fa-car-side mr-2"></i>Catégorie</span><span> {% if annonce.bodyStyle is not empty %} {{ annonce.bodyStyle|capitalize }} {% else %} Non spécifié* {% endif %} </span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between"><span
                                                    class="text-dark"><i
                                                        class="fas fa-car mr-2"></i>Marque</span><span
                                                    class="text-muted">{% if annonce.make is not empty %}{{ annonce.make|capitalize }}{% else %} Non spécifié*{% endif %}</span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between"><span
                                                    class="text-dark"><i
                                                        class="fas fa-car-alt mr-2"></i>Modèle</span><span>{% if annonce.model is not empty %}{{ annonce.model|capitalize }}{% else %} Non spécifié*{% endif %}</span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between"><span
                                                    class="text-dark"><i
                                                        class="fas fa-hashtag mr-2"></i>Référence</span><span>{{ annonce.vehicleId }}</span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between">
                                <span class="text-dark">
                                    <i class="fas fa-calendar-day mr-2"></i>Mise en circulation&nbsp;</span><span>{% if annonce.year is not empty %}{{ annonce.year }}{% else %} Non spécifié*{% endif %}</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item d-flex justify-content-between"><span
                                                    class="text-dark"><i
                                                        class="fas fa-gas-pump mr-2"></i>Carburant&nbsp;</span><span>{% if annonce.fuelType is not empty %}{{ annonce.fuelType|capitalize }}{% else %} Non spécifié*{% endif %}</span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between"><span
                                                    class="text-dark"><i
                                                        class="fas fa-road mr-2"></i>Kilométrage</span><span>{% if annonce.mileage['value'] is not empty %}{{ annonce.mileage['value'] | number_format(0,'',' ') }} km{% else %} Non spécifié*{% endif %}</span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between"><span
                                                    class="text-dark"><i
                                                        class="fas fa-cog mr-2"></i>Boîte</span><span>{% if annonce.transmission is not empty %}{{ annonce.transmission|capitalize }}{% else %} Non spécifié*{% endif %}</span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between"><span
                                                    class="text-dark"><i
                                                        class="fas fa-palette mr-2"></i>Couleur extérieur</span><span>{% if annonce.exteriorColor is not empty %}{{ annonce.exteriorColor }}{% else %} Non spécifié*{% endif %}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="options" role="tabpanel" aria-labelledby="options-tab">
                            <div class="row">

                                {% set currentFeature = 0 %}
                                {% set limitPerColumn = annonce.features|length / 4 %}
                                {% if limitPerColumn  < 10 %}
                                    {% set limitPerColumn = annonce.features|length %}
                                {% endif %}
                                {% for feature in annonce.features %}
                                    {% if currentFeature == 0 %}

                                        <div class="col-12 col-md-6 col-lg-6">
                                        <ul class="list-unstyled text-dark p-3">

                                    {% endif %}

                                    <li><i class="fas fa-check mr-2"></i>{{ feature|capitalize }}</li>

                                    {% set currentFeature = currentFeature + 1 %}

                                    {% if currentFeature >= limitPerColumn or  loop.index == annonce.features|length %}

                                        {% set currentFeature = 0 %}

                                        </ul>
                                        </div>
                                    {% endif %}

                                {% endfor %}

                            </div>
                        </div>
                        <div class="tab-pane fade p-3 text-dark" id="note" role="tabpanel" aria-labelledby="note-tab">
                            {{ annonce.description|raw }}
                        </div>
                        <div class="tab-pane fade p-3 text-dark" id="localisation" role="tabpanel"
                             aria-labelledby="localisation-tab">
                            <iframe
                                    width="100%"
                                    height="500px"
                                    frameborder="0"
                                    scrolling="no"
                                    marginheight="0"
                                    marginwidth="0"
                                    src="https://maps.google.com/maps?q={{ annonce.latitude }},{{ annonce.longitude }}&hl=fr&z=14&amp;output=embed"
                            >
                            </iframe>
                            <br/>
                            <small>
                                <a href="https://maps.google.com/maps?q={{ annonce.latitude }},{{ annonce.longitude }}&hl=fr;z=14&amp;output=embed"
                                        style="color:#0000FF;text-align:left"
                                        target="_blank">
                                    Agrandir la carte
                                </a>
                            </small>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 mt-lg-0 mt-5 sidebar ftco-animate border-1">
                    <div class="sidebar-box">
                        <div class="card  shadow-sm" style="border: none;border-top: 4px blue solid;">
                            <div class="card-header">
                                <div class="media">
                                    <div class="media-body">
                                        <h5 class="mt-0">{{ annonce.dealerName }}</h5>
                                        <h6 class="font-weight-medium"><a href="{{ path('dealer_store', { 'dealer_id': annonces[0].dealer_id}) }}" data-toggle="tooltip" data-placement="top" title="Voir la boutique">{{ annonces|length }} annonces en lignes</a></h6>
                                    </div>
                                </div>
                            </div>
                            <hr class="mx-4">
                            <div class="card-body">
                                {{ form_start(contact) }}
                                <div class="form-group">
                                    {{ form_label(contact.email, "Adresse mail") }}
                                    {{ form_errors(contact.email) }}
                                    {{ form_widget(contact.email, { 'attr':{}}) }}
                                    {{ form_help(contact.email) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(contact.phone, "Téléphone") }}
                                    {{ form_errors(contact.phone) }}
                                    {{ form_widget(contact.phone, { 'attr':{}}) }}
                                    {{ form_help(contact.phone) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(contact.message, "Message") }}
                                    {{ form_errors(contact.message) }}
                                    {{ form_widget(contact.message, { 'attr':{'rows': 6, 'placeholder': "Bonjour, je suis intéressé par ce véhicule. Je souhaite prendre contact avec vous."}}) }}
                                    {{ form_help(contact.message) }}
                                </div>
                                {{ form_rest(contact) }}
                                <button type="submit" class="btn btn-block btn-primary" style="padding: 1rem 0.75rem"><i
                                            class="fa fa-envelope mr-2"></i>Envoyer mon message
                                </button>
                                {{ form_end(contact) }}
                            </div>
                        </div>

                        <hr>

                    </div>

                    <div class="sidebar-box ftco-animate">
                        <h3 class="heading-3">Annonces récents</h3>


                        {% for annonce in annonces %}
                         <div class="block-21 mb-4 d-flex">
                             <a class="blog-img mr-4" style="background-image: url({% if annonce.image[0].url is iterable %}{{ annonce.image[0].url[0] }}{% else %} {{ annonce.image[0].url }} {% endif %});"></a>
                             <div class="text">
                                 <h3 class="heading"><a href="#">{{ annonce.title }}</a>
                                 </h3>
                                 <div class="meta">
                                     <div><a href="{{ path('annonces', { 'minKilometer': annonce.mileage['value']}) }}"><{% if annonce.mileage['value'] is not empty %}i class="fas fa-road "></i> {{ annonce.mileage['value'] | number_format(0,'',' ') }} km{% else %} Non spécifié*{% endif %}</a></div>
                                     <div><a href="{{ path('annonces', { 'transmission' : annonce.transmission|lower}) }}">{% if annonce.transmission is not empty %}<i class="fas fa-road "></i> {{ annonce.transmission }}{% else %} Non spécifié*{% endif %}</a></div>
                                     <div><a href="{{ path('annonces', { 'minYear' : annonce.year, 'maxYear': annonce.year}) }}">{% if annonce.year is not empty %}<i class="fas fa-calendar "></i> {{ annonce.year }}{% else %} Non spécifié*{% endif %}</a></div>
                                 </div>
                             </div>
                         </div>
                     {% endfor %}


                    </div>

                </div>

            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script src="{{ asset('assets/js/swiper.min.js') }}"></script>
    <script>
        var galleryThumbs = new Swiper('.gallery-thumbs', {
            spaceBetween: 10,
            slidesPerView: 4,
            loop: true,
            freeMode: true,
            loopedSlides: 5,
            watchSlidesVisibility: true,
            watchSlidesProgress: true,
        });
        var galleryTop = new Swiper('.gallery-top', {
            spaceBetween: 10,
            loop: true,
            loopedSlides: 5,
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            thumbs: {
                swiper: galleryThumbs,
            },
        });


    </script>

    <script>
        $('#make-filter').on('changed.bs.select', function (e, clickedIndex, isSelected, previousValue) {
            $.post('{{ path('api_fetchModelByMake') }}', {make: this.value})
                .done(function (data) {
                    $('#model-select').empty();
                    data.forEach((element) => {
                        $('#model-select').append(`<option value="${element.model.toLowerCase()}">${element.model}</option>`);
                    });

                })
        });
    </script>
{% endblock %}