{% extends 'base.html.twig' %}
 {% block title %}Boutique de {{ dealer.dealerName }}{% endblock %}
{% block head %}
    {{ parent() }}

    <meta name="description"
          content="{{ dealer.dealerName }} - Liste de véhicules uniquement proposés par {{ dealer.dealerName }}. Le filtre a été construit pour vous simplifier la tâche.">
    <meta name="keywords" content="{{ dealer.dealerName }}, {{ dealer.dealerPhone }}, vehicule, rechercher
    {% if app.request.get('q') is not empty %}, {{ app.request.get ('q') }} {% endif %}
    {% if app.request.get('make') is not empty %}, {{ app.request.get ('make') }} {% endif %}
    {% if app.request.get('model') is not empty %}, {{ app.request.get ('model') }} {% endif %}">
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/nouislider.css') }}">
{% endblock %}
{% block body %}



    <div class="hero-wrap hero-wrap-2"
         style="background-image: url({{ asset('assets/images/bg.jpg') }});background-position: 50% 85%;"
         data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-start align-items-lg-center justify-content-start">
                <div class="col-md-12 ftco-animate text-center mt-5 mt-lg-0 mb-lg-5">
                    <p class="breadcrumbs mb-0"><span class="mr-3">
                            <a href="{{ path('home') }}" title="Accéder à la page d'accueil">Accueil <i
                                        class="ion-ios-arrow-forward"></i></a></span> <span>Annonces</span></p>
                    <h1 class="mb-3 bread">Store</h1>
                </div>
            </div>
        </div>
    </div>
    <div id="presentation 0" class="py-4">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="media">
                        <img src="{{ asset('assets/images/partenaire-vroomiz.png') }}" width="75px"
                             class="align-self-start mr-3 img-thumbnail" alt="Logo de partenaire Vroomiz"
                             title="Logo de partenaire Vroomiz">
                        <div class="media-body">
                            <h5 class="mt-0">{{ dealer.dealerName }}</h5>
                            <h6 class="text-primary font-weight-medium">{{ dealer.annonces|length }} annonces en
                                ligne</h6>

                        </div>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <p style="margin-bottom: 0">
                            <a href="https://maps.google.com/maps?q={{ dealer.annonces[0].latitude }},{{ dealer.annonces[0].longitude }}&hl=fr"
                               title="Voir l'emplacement de l'annonce" class="text-dark">
                                <i class="fas fa-map-marker-alt mr-2 text-primary" aria-hidden="true"></i>
                                {{ dealer.annonces[0].adress.city ~ " " ~ dealer.annonces[0].adress.region ~ ", " ~ dealer.annonces[0].adress.postal_code }}
                            </a>
                            <a href="tel:{{ dealer.dealerPhone }}" title="Appeler le vendeur" class="text-dark"><i
                                        class="fa fa-phone ml-3 mr-2  text-primary"></i>{{ dealer.dealerPhone }}</a>

                        </p>
                       <div class="d-none d-lg-block d-lg-flex justify-content-between align-items-center">
                            <span class=" text-dark font-weight-medium mr-3">
                                <span class="text-primary">{{ annonces.totalItemCount }}</span>
                                    résultat(s)
                                    {% if app.request.get('q') is not empty %}  {{ app.request.get('q') }}{% endif %}
                                {% if app.request.get('make') is not empty %} - {{ app.request.get('make')|capitalize }}{% endif %}
                                {% if app.request.get('model') is not empty %} {{ app.request.get('model')|capitalize }}{% endif %}
                                {% if app.request.get('sort') is not empty and app.request.get('direction') is not empty %} -
                                    {% set category = app.request.get('sort')|split('.')[1] %}
                                    {% set direction = app.request.get('direction') %}
                                    {% if category == 'price' %}
                                        {% if direction == 'asc' %}
                                            Prix croissant
                                        {% else %}
                                            Prix décroissant
                                        {% endif %}
                                    {% endif %}

                                    {% if category == 'mileage' %}
                                        {% if direction == 'asc' %}
                                            Kilométrage croissant
                                        {% else %}
                                            Kilométrage décroissant
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </span>
                           <div class="dropdown">
                               <button class="btn btn-outline-dark dropdown-toggle" type="button" id="filter"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                   Trier par
                               </button>
                               <div class="dropdown-menu" aria-labelledby="filter">
                                   {{ knp_pagination_sortable(annonces, 'Prix +/-', 'p.title') }}
                                   {{ knp_pagination_sortable(annonces, 'Prix +/-', 'p.price') }}
                                   {{ knp_pagination_sortable(annonces, 'Kilométrage +/-', 'p.mileage') }}
                               </div>
                           </div>
                       </div>
                    </div>

                    {% for message in app.flashes('error') %}
                        <div class="alert alert-error mt-2">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex d-lg-none mt-3 p-3 justify-content-between justify-content-lg-end">
        <button class="btn btn-outline-dark  " id="showFilter">
            <i class="fas fa-search mr-2"></i>
            Plus de filtre
        </button>
        <div class="dropdown">
            <button class="btn btn-outline-dark dropdown-toggle" type="button" id="filter"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Trier par
            </button>
            <div class="dropdown-menu" aria-labelledby="filter">

                {{ knp_pagination_sortable(annonces, 'Prix +/-', 'p.price') }}
                {{ knp_pagination_sortable(annonces, 'Kilométrage +/-', 'p.mileage') }}
            </div>
        </div>
    </div>
    <section class="ftco-section bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 sidebar">
                    <div id="filtre" class="sidebar-box bg-white p-4 ftco-animate modal"
                         style="border-top: 4px #eb3b5a solid;border-top-right-radius: 4px;border-top-left-radius: 4px;">

                        <div class="border-0 rounded-0 bg-white  js-filter pt-3">
                            <div class="d-lg-none mb-3 sticky-top bg-white">
                                <button class="btn btn-outline-primary btn-sm " id="closeFilter" type="button">
                                    <i
                                            class="fas fa-chevron-left mr-3"></i>retour
                                </button>
                            </div>
                            <h3 class="heading-sidebar mt-5 mt-lg-0">Chercher par critères <br>
                                dans <i>{{ dealer.dealerName }}</i></h3>
                            <p>Vos recherches seront limitées à ce que propose le vendeur. Si vous souhaitez voir plus
                                d'annonces, cliquez
                                <a href="{{ path('annonces') }}" title="Accéder à la liste des annonces">ici</a>.</p>

                            {{ form_start(form) }}
                            <div class="form-group">
                                {{ form_label(form.q, "Recherche par mot clé") }}
                                {{ form_widget(form.q) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.make, "Recherche par marque") }}
                                {{ form_errors(form.model) }}
                                {{ form_widget(form.make, {'attr': {'class': 'selectpicker ', 'id': 'make-filter', 'data-live-search': true, 'title': "Aucune préférence"}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.model, "Recherche par modèle") }}
                                {{ form_errors(form.model) }}
                                {{ form_widget(form.model, {'attr': {'id':'model-select', 'title': "Aucune préférence"}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.fuelType, "Carburant") }}
                                {{ form_widget(form.fuelType, {'attr': {'class': 'selectpicker ', 'title': "Aucune préférence"}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.transmission, "Boîte de vitesse") }}
                                {{ form_widget(form.transmission, {'attr': {'class': 'selectpicker ', 'title': "Aucune préférence"}}) }}
                            </div>
                            <div class="form-group">
                                <label for="">Chercher par année</label>
                                <div id="sliderYear" data-min="{{ minYear }}" data-max="{{ maxYear }}"></div>
                                <div class="d-flex flex-row justify-content-between mt-3">
                                    {{ form_widget(form.minYear, { 'attr': { 'class': ' mr-1 w-50', 'title': "Année minimum"}}) }}
                                    {{ form_widget(form.maxYear, { 'attr': { 'class': ' ml-1 w-50', 'title': "Année maximun"}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="">Chercher par kilométrage</label>
                                <div id="sliderKilometer" data-min="{{ minKilometer }}"
                                     data-max="{{ maxKilometer }}"></div>
                                <div class="d-flex flex-row justify-content-between mt-3">
                                    {{ form_widget(form.minMileage, { 'attr': { 'class': ' mr-1 w-50', 'title': "Kilométrage minimum"}}) }}
                                    {{ form_widget(form.maxMileage, { 'attr': { 'class': ' ml-1 w-50', 'title': "KIlomètrage maximun"}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="">Chercher par prix</label>
                                <div id="sliderPrice" data-min="{{ minPrice }}" data-max="{{ maxPrice }}"></div>
                                <div class="d-flex flex-row justify-content-between mt-3">
                                    {{ form_widget(form.minPrice, { 'attr': { 'class': ' mr-1 w-50', 'title': "Prix minimum" }}) }}
                                    {{ form_widget(form.maxPrice, { 'attr': { 'class': ' ml-1 w-50', 'title': "Prix maximun" }}) }}
                                </div>
                            </div>
                            <div class="sticky-bottom" id="btn-form">
                                <button type="submit" class="btn btn-primary btn-block" style="padding: 1rem 0.75rem"><i
                                            class="fas fa-search mr-2"></i>
                                    Chercher
                                </button>
                                <button type="reset" id="resetForm" class="btn btn-pri btn-block">Tout effacer</button>
                            </div>

                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 pr-lg-4">
                    <div class="row">
                        <div class="col-md-12 ftco-animate">
                            <span class="mb-3 d-lg-none text-dark font-weight-medium">
                                <span class="text-primary">{{ annonces.totalItemCount }}</span>
                                    résultat(s)
                                    {% if app.request.get('q') is not empty %}  {{ app.request.get('q') }}{% endif %}
                                {% if app.request.get('make') is not empty %} - {{ app.request.get('make')|capitalize }}{% endif %}
                                {% if app.request.get('model') is not empty %} {{ app.request.get('model')|capitalize }}{% endif %}
                                {% if app.request.get('sort') is not empty and app.request.get('direction') is not empty %} -
                                    {% set category = app.request.get('sort')|split('.')[1] %}
                                    {% set direction = app.request.get('direction') %}
                                    {% if category == 'price' %}
                                        {% if direction == 'asc' %}
                                            Prix croissant
                                        {% else %}
                                            Prix décroissant
                                        {% endif %}
                                    {% endif %}

                                    {% if category == 'mileage' %}
                                        {% if direction == 'asc' %}
                                            Kilométrage croissant
                                        {% else %}
                                            Kilométrage décroissant
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </span>
                            {% if annonces|length > 0 %}
                                {% for annonce in annonces %}
                                    <article class="annonce-post-item rounded d-flex mb-3 shadow-sm--hover">
                                        <a href="{{ path('annonce', {'slug': annonce.slug }) }}"
                                           title="Voir l'annonce {{ annonce.title }}">
                                            <div class=" d-flex justify-content-center py-1 px-1">
                                                <img class="list-annonce-image"
                                                     src="{% if annonce.image[0].url is iterable %}{{ annonce.image[0].url[0] }}{% else %} {{ annonce.image[0].url }} {% endif %}"
                                                     style="object-fit: cover;"
                                                     alt="Image de {{ annonce.make }} {{ annonce.model }}"
                                                     title="Image de {{ annonce.make }} {{ annonce.model }}">
                                            </div>
                                            <div class="d-flex flex-column align-content-around bg-white py-2 px-2 w-100">
                                                <a class="list-annonce-title font-weight-medium"
                                                   href="{{ path('annonce', {'slug': annonce.slug }) }}"
                                                   title="Voir cette annonce : {{ annonce.make }} - {{ annonce.model }}">{{ annonce.title }}</a><span
                                                        class=" list-annonce-price mb-auto font-weight-bold">{{ annonce.price | number_format(0,'.','.') }} €</span>
                                                <div class="mb-auto ">
                                                    <div class="row">
                                                        <div class="col-6 text-truncate">
                                                            <a class="list-annonce-place"
                                                               href="https://maps.google.com/maps?q={{ annonce.latitude }},{{ annonce.longitude }}&hl=fr"
                                                               title="Voir l'emplacement de l'annonce"><i
                                                                        class="fas fa-map-marker-alt mr-2 text-main"></i>{{ annonce.adress.city|capitalize }}
                                                            </a>
                                                        </div>
                                                        <div class="col-6 text-right text-truncate">
                                                            <a class="list-annonce-entity"
                                                               href="{{ path('dealer_store', { 'slug' : dealer.slug }) }}"
                                                               title="Voir la boutique du vendeur">{{ dealer.dealerName|capitalize }}</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <p class="list-annonce-meta mb-auto d-flex justify-content-between"><span>
											<i class="fas fa-road mr-2"></i>{{ annonce.mileage | number_format(0,'.',' ') }} km</span><span><i
                                                                class="fas fa-cogs mr-2"></i>{{ annonce.transmission|capitalize }}</span><span
                                                            class="d-none d-sm-block"><i
                                                                class="fas fa-gas-pump mr-2"></i>{{ annonce.fuelType|capitalize }}</span><span
                                                            class="d-none d-sm-block"><i
                                                                class="fas fa-calendar-day mr-2"></i>{{ annonce.year }}</span>
                                                </p>
                                            </div>
                                        </a>
                                    </article>
                                {% endfor %}

                            {% else %}
                                <div class="p-5 bg-gray d-flex justify-content-center align-items-center">
                                    <p><i class="fas fa-search mr-2"></i>Aucunes annonces ne correspond à vos critères.
                                    </p>
                                </div>


                            {% endif %}

                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col text-center">
                            <div id="pagination" class="mt-5 d-flex justify-content-center">
                                {{ knp_pagination_render(annonces) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <a href="#top" id="toTop" class="smoothscroll" title="Scroller vers le haut"><i class="fa fa-arrow-up"></i></a>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.0.3/nouislider.js"></script>
    <script>

        let UP_LG_SIZE = 992;
        $(document).ready(() => {

            checkIfMobile($(window).width());
        });

        $(window).resize(() => {
            checkIfMobile($(this).width())
        });

        function checkIfMobile(windowWidth) {

            if (windowWidth >= UP_LG_SIZE) {
                $('#filtre').removeClass('modal');
            } else {
                $('#filtre').addClass('modal');
            }
        }


        const sliderPrice = document.getElementById('sliderPrice');

        if (sliderPrice) {
            minPrice = document.getElementById('minPrice');
            maxPrice = document.getElementById('maxPrice');
            const minValuePrice = Math.floor(parseInt(sliderPrice.dataset.min, 10) / 10) * 10;
            const maxValuePrice = Math.ceil(parseInt(sliderPrice.dataset.max, 10) / 10) * 10;
            const rangePrice = noUiSlider.create(sliderPrice, {
                start: [minPrice.value || minValuePrice, maxPrice.value || maxValuePrice],
                connect: true,
                step: 100,
                range: {
                    'min': minValuePrice,
                    'max': maxValuePrice
                }


            });
            rangePrice.on('slide', function (values, handle) {
                if (handle === 0) {
                    minPrice.value = Math.round(values[0]);
                }
                if (handle === 1) {
                    maxPrice.value = Math.round(values[1]);
                }
            })

        }

        const sliderKilometer = document.getElementById('sliderKilometer');
        if (sliderKilometer) {
            minKilometer = document.getElementById('minMileage');
            maxKilometer = document.getElementById('maxMileage');
            const minValueKilometer = Math.floor(parseInt(sliderKilometer.dataset.min, 10) / 10) * 10;
            const maxValueKilometer = Math.ceil(parseInt(sliderKilometer.dataset.max, 10) / 10) * 10;
            const rangeKilometer = noUiSlider.create(sliderKilometer, {
                start: [minKilometer.value || minValueKilometer, maxKilometer.value || maxValueKilometer],
                connect: true,
                step: 1,
                range: {
                    'min': 0,
                    'max': 300000
                }
            });
            rangeKilometer.on('slide', function (values, handle) {
                if (handle === 0) {
                    minKilometer.value = Math.round(values[0]);
                }
                if (handle === 1) {
                    maxKilometer.value = Math.round(values[1]);
                }
            })
        }

        const sliderYear = document.getElementById('sliderYear');

        if (sliderYear) {
            minYear = document.getElementById('minYear');
            maxYear = document.getElementById('maxYear');
            const minValueYear = Math.floor(parseInt(sliderYear.dataset.min, 10) / 10) * 10;
            const maxValueYear = Math.ceil(parseInt(sliderYear.dataset.max, 10) / 10) * 10;
            const rangeYear = noUiSlider.create(sliderYear, {
                start: [minYear.value || minValueYear, maxYear.value || maxValueYear],
                connect: true,
                step: 1,
                range: {
                    'min': minValueYear,
                    'max': maxValueYear
                }


            });
            rangeYear.on('slide', function (values, handle) {
                if (handle === 0) {
                    minYear.value = Math.round(values[0]);
                }
                if (handle === 1) {
                    maxYear.value = Math.round(values[1]);
                }
            })

        }

        $reset = $('#resetForm');
        $reset.click(() => {
            $('form :input').val('');
            $(".selectpicker").selectpicker("refresh");
        });

        $(document).ready(() => {
            fetchModelByMake($('#make').val());
        });

        $('#make').on('changed.bs.select', function (e, clickedIndex, isSelected, previousValue) {
            fetchModelByMake(this.value);
        });

        function fetchModelByMake(value) {
            $.post('{{ path('api_fetchModelByMake') }}', {make: value, dealer_id: {{ dealer.dealerRef }}, state: 'xxx'})
                .done(function (data) {
                    $('#model')
                        .empty()
                        .append(`<option value="">Modèle</option>`);
                    if (data) {
                        data.forEach((element) => {
                            $item = element.model ? element.model : element;

                            $('#model')
                                .append(`<option value="${$item.toLowerCase()}">${$item}</option>`);
                        });
                        $('#model')
                            .selectpicker('refresh');
                    }
                })
            ;
        }

        var modal = $('#filtre');
        var openModal = $('#showFilter');
        var closeModal = $('#closeFilter');
        openModal.click(() => {
            modal.show();
        });
        closeModal.click(() => {
            modal.hide();
        });


    </script>


{% endblock %}
