{% extends 'base.html.twig' %}
 {% block title %}Vous souhaitez mettre en place une annonce ?{% endblock %}
{% block head %}
    {{ parent() }}

    <meta name="description" content="Vous avez un véhicule que vous souhaitez vendre et vous êtes une société ? Vous pouvez nous demander de mettre en avant votre véhicule afin que les particuliers puissent en profiter !">
    <meta name="keywords" content="deposer une annonce, véhicule, société, particulier, vendre">
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bs-stepper/dist/css/bs-stepper.min.css">

{% endblock %}

{% block body %}
    <div class="hero-wrap hero-wrap-2"
         style="background-image: url({{ asset('assets/images/bg.jpg') }});background-position: 50% 85%;height: 35vh !important;"
         data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-start align-items-lg-center justify-content-start">
                <div class="col-md-12 ftco-animate text-center mt-5 mt-lg-0 mb-lg-5">
                    <p class="breadcrumbs mb-0"><span class="mr-3">
                            <a href="{{ path('home') }}" title="Accéder à la page d'accueil">Accueil <i class="ion-ios-arrow-forward"></i></a></span> <span>Annonces</span></p>
                    <h1 class="mb-3 bread">Déposer une annonce</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper">
        <section class="ftco-section">
            <div class="container">
                <h4 class="text-center">
                    Vous souhaitez déposer une annonce ?

                </h4>
                <p class="text-center lead">Vous pouvez utiliser le formulaire
                    ci-dessous afin de compléter votre démarche.
                </p>
                <div class="alert alert-info" role="alert">
                    <div class="container">
                        <strong>Info!</strong> Vous devez représenter une société afin de poursuivre ces étapes.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">
                <i class="now-ui-icons ui-1_simple-remove"></i>
              </span>
                        </button>
                    </div>
                </div>
                <div id="annonceWizard" class="bs-stepper">
                    <div class="bs-stepper-header" role="tablist">
                        <div class="step" data-target="#statut-part">
                            <button type="button" class="step-trigger" role="tab" aria-controls="statut-part"
                                    id="statut-part-trigger">
                            </button>
                        </div>

                        <div class="line"></div>

                        <div class="step" data-target="#information-part">
                            <button type="button" class="step-trigger" role="tab" aria-controls="information-part"
                                    id="information-part-trigger">
                            </button>
                        </div>
                        <div class="line"></div>
                        <div class="step" data-target="#finish-part">
                            <button type="button" class="step-trigger" role="tab" aria-controls="finish-part"
                                    id="finish-part-trigger">
                            </button>
                        </div>


                    </div>
                    <div class="bs-stepper-content">
                        <div id="statut-part" class="content" role="tabpanel" aria-labelledby="statut-part-trigger">
                            <h5 class="text-center mt-2">
                                Votre status
                            </h5>
                            <div class="row mt-5">
                                <div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
                                    <form class="formAnnonce">
                                        <div class="form-group text-center">
                                            <label for="statutInputState">Vous êtes ?</label>
                                            <select name="statutInputState" id="statutInputState" class="form-control"
                                                    required>
                                                <option disabled selected>Sélectionner votre statut</option>
                                                <option value="1">Une société</option>
                                                <option value="0">Un particulier</option>
                                            </select>
                                            <div id="alert-status" class="text-danger mt-3">
                                                <strong>Oups!</strong> Ce service est uniquement destiné aux sociétés .
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end align-items-end">

                                <button id="statutBtn" class="btn btn-main btn-next-form">Suivant</button>
                            </div>
                        </div>
                        <div id="information-part" class="content" role="tabpanel"
                             aria-labelledby="information-part-trigger">
                            <h5 class="text-center mt-2">
                                Vos coordonnées
                            </h5>
                            <div class="row mt-5">
                                <div class="col-12 col-md-6 offset-md-3 col-lg-6 offset-lg-3">
                                    <form id="formAnnonce">
                                        <div class="row">
                                            <div class="col-12 col-lg-8 offset-lg-2">
                                                <div class="form-group ">
                                                    <label for="societe">Votre société</label>
                                                    <input type="text" name="societe" class="form-control"
                                                           placeholder="Votre societe*" required>
                                                </div>
                                                <div class="form-group ">
                                                    <label for="mail">Votre adresse mail</label>
                                                    <input type="email" name="email" class="form-control"
                                                           placeholder="Votre adresse mail"
                                                           required>
                                                </div>
                                                <div class="form-group ">
                                                    <label for="tel">Votre numéro de téléphone</label>
                                                    <input type="tel" name="tel" class="form-control"
                                                           placeholder="ex: +33 0 00 00 00 00"
                                                           required>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                            <div class="d-flex justify-content-between ">
                                <button class="btn btn-outline-main" onclick="window.stepperForm.previous()">Précédent
                                </button>
                                <button class="btn btn-main btn-next-form">Suivant</button>
                            </div>
                        </div>
                        <div id="finish-part" class="content" role="tabpanel" aria-labelledby="finish-part-trigger">
                            <h5 id="wait-message">Demande en cours ...</h5>
                            <h5 class="text-center mt-2" id="finish-message">
                                Nous avons bien réceptionner votre demande. ✔️ <br>
                                <small>Nous allons traiter votre demande dans les plus bref délais.</small>
                            </h5>
                            <div class="d-flex justify-content-center ">
                                <a href="{{ path('home') }}" class="btn btn-link text-primary btn-next-form" title="Retourner à la page d'accueil">Retourner à la page
                                    d'accueil</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://cdn.jsdelivr.net/npm/bs-stepper/dist/js/bs-stepper.min.js"></script>
    <script>

        $(document).ready(function () {

            window.$currentStepDepot = 0;
            var stepperFormEl = document.querySelector('#annonceWizard');
            window.stepperForm = new Stepper(stepperFormEl, {
                animation: true,
                linear: true,
                selectors: {
                    steps: '.step',
                    trigger: '.step-trigger',
                    stepper: '.bs-stepper'
                }
            });

            var btnNextList = [].slice.call(document.querySelectorAll('.btn-next-form'));
            var form = $('#formAnnonce');

            btnNextList.forEach(function (btn) {
                btn.addEventListener('click', function () {
                    switch (window.$currentStepDepot) {

                        // Vérification de la première étape
                        case 0:
                            $('#finish-message').hide();
                            if (window.$statutState) {
                                window.stepperForm.next()
                            }
                            break;
                        // Vérification de la deuxième étape
                        case 1:
                            var valid = form.valid();

                            if (!valid) {
                                window.$validator.focusInvalid();
                                return false;
                            }
                            if (window.confirm('Avant de poursuivre, confirmez-vous ces informations ?')) {
                                window.stepperForm.next();
                                jQuery.ajax({
                                    url: "{{ path('deposer') }}",
                                    method: "post",
                                    data: {
                                        name:form.find('input[name="societe"]').val(),
                                        email: form.find('input[name="email"]').val(),
                                        tel: form.find('input[name="tel"]').val()
                                    }

                                }).done(function (data) {
                                    $('#wait-message').hide(100);
                                    $('#finish-message').slideDown('200');
                                });

                            } else {
                                window.alert('Vous devez valider ces informations avant de continuer.');
                            }

                            break;
                    }
                })
            });

            stepperFormEl.addEventListener('show.bs-stepper', function (event) {
                var nextStep = event.detail.indexStep;
                var currentStep = nextStep;

                window.$currentStepDepot = currentStep;
                if (currentStep > 0) {
                    currentStep--
                }

            })


        });
    </script>

{% endblock %}