{% extends 'base.html.twig' %}
{% block head %}
     {{ parent() }}

{% endblock %}
{% block title %} Site d'annonces auto {% endblock %}

{% block body %}

    <div class="wrapper">
        <div class="page-header page-header">
            <div class="page-header-image" data-parallax="true"
                 style="background-image: url({{ asset('assets/images/paysage-voiture.jpg') }});"></div>
            <div class="content-center d-none d-md-block">
                <h2>Consultez notre catalogue de voitures en ligne.</h2>
                <div class="container-fluid  px-4 py-4 rounded bg-white ">
                    <form>
                        <div class="row">
                            <div class="col">
                                <label for="keyword" class="text-left text-black-50">Une idée ?</label>
                                <input type="text" class="form-control" id="keyword" placeholder="ex : Peugeot" />
                                <small id="keywordHelp" class="form-text text-muted">Vous pouvez entrer un mot clé</small>
                            </div>
                            <div class="col">
                                <label for="brand" class="text-left text-black-50">Une marque particulière ?</label>
                                <select id="inputStateBrand" class="form-control">
                                    <option selected>Marque</option>
                                    <option>BMW</option>
                                    <option>Porsche</option>
                                    <option>Peugeot</option>
                                </select>
                                <small id="brandHelp" class="form-text text-muted">Vous pouvez choisir une marque de voiture.</small>
                            </div>
                            <div class="col">
                                <label for="model" class="text-left text-black-50">Un modèle particulier ?</label>
                                <select id="inputStateModel" class="form-control">
                                    <option selected>Modèle</option>
                                    <option>S</option>
                                    <option>102</option>
                                </select>
                                <small id="modelHelp" class="form-text text-muted">Vous pouvez choisir votre modèle</small>
                            </div>
                        </div>
                        <div class="collapse mt-3" id="showAdvancedFilter">
                            <div class="row">
                                <div class="col">
                                    <label for="model" class="text-left text-black-50">Une fourchette de prix ?</label>
                                    <div id="sliderPriceDesktop" class="slider slider-primary noUi-target noUi-ltr noUi-horizontal"></div>
                                    <h6 id="priceIndicator" class="form-text text-muted mt-2">
                                        0 € - 1500 €
                                    </h6>
                                </div>
                                <div class="col">
                                    <label for="model" class="text-left text-black-50">Nombre de kilomètrage</label>
                                    <div id="sliderKmDesktop" class="slider slider-primary noUi-target noUi-ltr noUi-horizontal"></div>
                                    <h6 id="kmIndicator" class="form-text text-muted mt-2">
                                        0 € - 1500 €
                                    </h6>
                                </div>
                                <div class="col">
                                    <label for="model" class="text-left text-black-50">Une fourchette de prix ?</label>
                                    <div id="sliderYearDesktop" class="slider slider-primary noUi-target noUi-ltr noUi-horizontal "></div>
                                    <h6 id="yearIndicator" class="form-text text-muted mt-2">
                                        0 € - 1500 €
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="d-flex flex-row text-center align-items-center justify-content-end">
                            <!-- a href="./annonces.html" class="mr-3" data-toggle="collapse" data-target="#showAdvancedFilter"
                              aria-expanded="false" aria-controls="showAdvancedFilter">Plus de filtre ?</a> -->
                            <a href="./annonces.html" class="mr-3">Plus de filtre ?</a>
                            <button class="btn btn-primary">Lancer une recherche</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <section id="filter-mobile" class="section d-block d-md-none">
            <div class="container pt-3 ">
                <h5>Trouve la voiture qui te correspond</h5>
               {#  <form>
                    <div class="row">
                        <div class="col-12 mt-3">
                            <label for="keyword" class="text-left text-black-50">Une idée ?</label>
                            <input type="text" class="form-control" id="keyword" placeholder="ex : Peugeot" />
                            <small id="keywordHelp" class="form-text text-muted">Vous pouvez entrer un mot clé</small>
                        </div>
                        <div class="col-12 mt-3">
                            <label for="brand" class="text-left text-black-50">Une marque particulière ?</label>
                            <select id="inputStateBrand" class="form-control">
                                <option selected>Marque</option>
                                <option>BMW</option>
                                <option>Porsche</option>
                                <option>Peugeot</option>
                            </select>
                            <small id="brandHelp" class="form-text text-muted">Vous pouvez choisir une marque de voiture.</small>
                        </div>
                        <div class="col-12 mt-3">
                            <label for="model" class="text-left text-black-50">Un modèle particulier ?</label>
                            <select id="inputStateModel" class="form-control">
                                <option selected>Modèle</option>
                                <option>S</option>
                                <option>102</option>
                            </select>
                            <small id="modelHelp" class="form-text text-muted">Vous pouvez choisir votre modèle</small>
                        </div>
                    </div>
                    <hr />
                    <div class="d-flex flex-column justify-content-center">
                        <button class="btn btn-primary">Lancer une recherche</button>
                        <a href="#">Plus de filtre ?</a>
                    </div>
                </form>#}


            </div>
        </section>
        <div class="section">
            <div class="container">
                <h3 class="title text-center">Annonces récents</h3>
                <div class="row">
                   {%  for annonce in annonces %}
                       <div class="col-12 col-lg-6">
                           <article class="rounded annonce">
                               <div class="card shadow-sm bg-white rounded border-soft">
                                   <div class="d-flex ">
                                       <div class="annonce-image d-flex justify-content-center bg-gray-1 py-1 px-1">
                                           <img src="./assets/images/peugeot1.jpg" class="img-fluid " alt="..."
                                                style="object-position: center;object-fit: cover;">
                                       </div>
                                       <div class="d-flex flex-column align-content-around justify-content-center bg-white py-2 px-2">
                                           <div class="position-absolute priceVehicule">
                                               <span>{{ annonce.price }} €</span>
                                           </div>
                                           <a href="./vehicule.html">
                                               <h5 class="annonce-title text-left module w-100 last-line">{{ annonce.name }}</h5>
                                           </a>

                                           <span class="annonce-place">
                      Paris, 75015
                    </span>

                                           <span class="annonce-meta text-gray mt-1">{{ annonce.year }} ¤ Automatique ¤ {{ annonce.kilometer }} km ¤ Essence</span>
                                           <a href="#">
                      <span class="annonce-entity module last-line">Vroomiz</small>
                                           </a>
                                       </div>
                                   </div>
                               </div>

                           </article>
                       </div>

                    {% endfor %}
                    <div class="col-12 col-lg-6">
                        <article class="rounded annonce">
                            <div class="card shadow-sm bg-white rounded border-soft">
                                <div class="d-flex ">
                                    <div class="annonce-image d-flex justify-content-center bg-gray-1 py-1 px-1">
                                        <img src="./assets/images/peugeot1.jpg" class="img-fluid " alt="..."
                                             style="object-position: center;object-fit: cover;">
                                    </div>
                                    <div class="d-flex flex-column align-content-around justify-content-center bg-white py-2 px-2">
                                        <div class="position-absolute priceVehicule">
                                            <span>1 650 €</span>
                                        </div>
                                        <a href="./vehicule.html">
                                            <h5 class="annonce-title text-left module w-100 last-line">Peugeot 206 1.4 hdi
                                                génération</h5>
                                        </a>

                                        <span class="annonce-place">
                      Paris, 75015
                    </span>

                                        <span class="annonce-meta text-gray mt-1">2008 ¤ Automatique ¤ 185 262 km ¤ Essence</span>
                                        <a href="#">
                      <span class="annonce-entity module last-line">Vroomiz</small>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </article>
                    </div>
                    <div class="col-12 col-lg-6">
                        <article class="rounded annonce">
                            <div class="card shadow-sm bg-white rounded border-soft">
                                <div class="d-flex ">
                                    <div class="annonce-image d-flex justify-content-center bg-gray-1 py-1 px-1">
                                        <img src="./assets/images/peugeot1.jpg" class="img-fluid " alt="..."
                                             style="object-position: center;object-fit: cover;">
                                    </div>
                                    <div class="d-flex flex-column align-content-around justify-content-center bg-white py-2 px-2">
                                        <div class="position-absolute priceVehicule">
                                            <span>1 650 €</span>
                                        </div>
                                        <a href="./vehicule.html">
                                            <h5 class="annonce-title text-left module w-100 last-line">Peugeot 206 1.4 hdi
                                                génération</h5>
                                        </a>

                                        <span class="annonce-place">
                      Paris, 75015
                    </span>

                                        <span class="annonce-meta text-gray mt-1">2008 ¤ Automatique ¤ 185 262 km ¤ Essence</span>
                                        <a href="#">
                      <span class="annonce-entity module last-line">Vroomiz</small>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </article>
                    </div>
                    <div class="col-12 col-lg-6">
                        <article class="rounded annonce">
                            <div class="card shadow-sm bg-white rounded border-soft">
                                <div class="d-flex ">
                                    <div class="annonce-image d-flex justify-content-center bg-gray-1 py-1 px-1">
                                        <img src="./assets/images/peugeot1.jpg" class="img-fluid " alt="..."
                                             style="object-position: center;object-fit: cover;">
                                    </div>
                                    <div class="d-flex flex-column align-content-around justify-content-center bg-white py-2 px-2">
                                        <div class="position-absolute priceVehicule">
                                            <span>1 650 €</span>
                                        </div>
                                        <a href="./vehicule.html">
                                            <h5 class="annonce-title text-left module w-100 last-line">Peugeot 206 1.4 hdi
                                                génération</h5>
                                        </a>

                                        <span class="annonce-place">
                      Paris, 75015
                    </span>

                                        <span class="annonce-meta text-gray mt-1">2008 ¤ Automatique ¤ 185 262 km ¤ Essence</span>
                                        <a href="#">
                      <span class="annonce-entity module last-line">Vroomiz</small>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </article>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer footer-default">
            <div class=" container ">
                <div class="row">
                    <div class="col justify-content-center">
                        <nav>
                            <ul>
                                <li>
                                    <a href="#">
                                        Vroomiz
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-12 col-md-8 mt-3 mt-md-0">
                        <div class="copyright" id="copyright">
                            &copy;
                            <script>
                                document
                                    .getElementById("copyright")
                                    .appendChild(
                                        document.createTextNode(new Date().getFullYear())
                                    );
                            </script>
                            , <a href="https://www.vroomiz.fr/">VROOMIZ</a>
                            Toutes les marques présentes sont la proriété de leurs auteurs
                            respectifs.
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
{% endblock %}
