{% extends 'base.html.twig' %}
{% block head %}
    {{ parent() }}

{% endblock %}
{% block title %} Site d'annonces auto {% endblock %}
{% block stylesheets%}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.0.3/nouislider.css">
{% endblock %}
{% block body %}

    <div class="wrapper">
        <div class="d-none d-lg-block" id="path">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><span>Accueil</span></a></li>
                            <li class="breadcrumb-item"><a
                                        href="{{ path('annonces') }}"><span>Chercher une annonce</span></a></li>
                            <li class="breadcrumb-item"><a href="#"
                                                           class="text-info"><span>{{ annonces |length }}</span> <span>voitures trouvés</span></a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-white d-block d-lg-none mb-3 sticky-top" id="setting-mobile">
            <div class="container">
                <div class="row">
                    <div class="col p-2 d-flex align-items-center justify-content-between">
                        <button class="btn btn-outline-primary btn-sm btn-round" id="showFilter">Filtre</button>
                        <a href="#top" class="btn btn-outline-primary btn-sm btn-round"><i class="fas fa-arrow-up"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div id="content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-3 mb-3">
                        <div class="border rounded-0 shadow-sm p-3 bg-white sticky-top" id="filtre">
                            <div class="d-lg-none mb-3 sticky-top bg-white">
                                <button class="btn btn-primary btn-sm btn-round" id="closeFilter" type="button"><i
                                            class="fas fa-chevron-left mr-3"></i>retour
                                </button>
                            </div>

                            {{ form_start(form) }}
                            <div class="form-group">
                                {{ form_label(form.q, "Recherche par mot clé") }}
                                {{ form_widget(form.q) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.make, "Recherche par marque") }}
                                {{ form_widget(form.make) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.model, "Recherche par marque") }}
                                {{ form_widget(form.model) }}
                            </div>
                            <div class="form-group">
                                <label for="">Chercher par année</label>
                                <div id="sliderYear" data-min="{{ minYear }}" data-max="{{ maxYear }}"></div>
                                <div class="d-flex flex-row justify-content-between mt-3">
                                    {{ form_widget(form.minYear, { 'attr': { 'class': ' mr-1', 'title': "Année minimum"}}) }}
                                    {{ form_widget(form.maxYear, { 'attr': { 'class': ' ml-1', 'title': "Année maximun"}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="">Chercher par kilométrage</label>
                                <div class="d-flex flex-row justify-content-between mt-3">
                                    {{ form_widget(form.minKilometer, { 'attr': { 'class': ' mr-1', 'title': "Kilométrage minimum"}}) }}
                                    {{ form_widget(form.maxKilometer, { 'attr': { 'class': ' ml-1', 'title': "KIlomètrage maximun"}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="">Chercher par prix</label>
                                <div id="sliderPrice" data-min="{{ minPrice }}" data-max="{{ maxPrice }}"></div>
                                <div class="d-flex flex-row justify-content-between mt-3">
                                    {{ form_widget(form.minPrice, { 'attr': { 'class': ' mr-1 ', 'title': "Année minimum" }}) }}
                                    {{ form_widget(form.maxPrice, { 'attr': { 'class': ' ml-1', 'title': "Année maximun" }}) }}
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block"><i class="fas fa-search mr-2"></i>
                                Chercher
                            </button>

                            {{ form_end(form) }}

                            <button type="reset" id="resetForm" class="btn btn-link btn-block">Tout effacer</button>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6">
                        {% if annonces|length > 0 %}
                            {% for annonce in annonces %}
                                <article class="border rounded d-flex mb-3 shadow-sm--hover">
                                    <div class="bg-dark d-flex justify-content-center py-1 px-1"><img
                                                class="list-annonce-image"
                                                src="{{ annonce.image[0].url[0] }}"
                                                style="object-fit: cover;"
                                                alt="Image de {{ annonce.make }} {{ annonce.model }}">
                                    </div>
                                    <div class="d-flex flex-column align-content-around bg-white py-2 px-2 w-100">
                                        <a class="list-annonce-title"
                                           href="{{ path('annonce', {'slug': annonce.slug }) }}"
                                           title="Voir cette annonce : {{ annonce.make }} - {{ annonce.model }}"
                                        >{{ annonce.title }}</a><span
                                                class="text-info list-annonce-price mb-auto font-weight-bold">{{ annonce.price | number_format(0,'.','.') }} €</span>
                                        <div class="mb-auto d-flex justify-content-between align-items-center"><a
                                                    class="list-annonce-place" href="#"><i
                                                        class="fas fa-map-marker-alt mr-2"></i>{{ annonce.adress.city }}
                                            </a><a
                                                    class="list-annonce-entity" href="#">{{ annonce.dealerId }}</a>
                                        </div>
                                        <p class="list-annonce-meta mb-auto d-flex justify-content-between"><span>
                                                <i class="fas fa-road mr-2"></i>{{ annonce.mileage['value'] | number_format(0,'.',' ') }} km</span><span><i
                                                        class="fas fa-cogs mr-2"></i>{{ annonce.transmission|capitalize }}</span><span
                                                    class="d-none d-sm-block"><i
                                                        class="fas fa-gas-pump mr-2"></i>{{ annonce.fuelType|capitalize }}</span><span
                                                    class="d-none d-sm-block d-lg-none"><i
                                                        class="fas fa-calendar-day mr-2"></i>{{ annonce.year }}</span>
                                        </p>
                                    </div>
                                </article>
                            {% endfor %}

                        {% else %}
                            <div class="p-5 bg-gray d-flex justify-content-center align-items-center">
                                <p><i class="fas fa-search mr-2"></i>Aucunes annonces ne correspond à vos critères.</p>
                            </div>


                        {% endif %}

                        <div id="pagination" class="mt-5 d-flex justify-content-center">
                            {{ knp_pagination_render(annonces) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.0.3/nouislider.js"></script>
    <script>
        const sliderPrice = document.getElementById('sliderPrice');

        if (sliderPrice)
        {
            minPrice = document.getElementById('minPrice');
            maxPrice = document.getElementById('maxPrice');
            const minValuePrice = Math.floor(parseInt(sliderPrice.dataset.min, 10) / 10) * 10;
            const maxValuePrice = Math.ceil(parseInt(sliderPrice.dataset.max, 10) / 10) * 10;
            const rangePrice = noUiSlider.create(sliderPrice, {
                start: [minPrice.value || minValuePrice, maxPrice.value || maxValuePrice],
                connect: true,
                step: 100,
                range: {
                    'min': minValuePrice,
                    'max': maxValuePrice
                }


            });
            rangePrice.on('slide', function (values, handle) {
                if(handle === 0){
                    minPrice.value = Math.round(values[0]);
                }
                if(handle === 1)
                {
                    maxPrice.value = Math.round(values[1]);
                }
            })

        }

        const sliderYear = document.getElementById('sliderYear');

        if (sliderYear)
        {
            minYear = document.getElementById('minYear');
            maxYear = document.getElementById('maxYear');
            const minValueYear = Math.floor(parseInt(sliderYear.dataset.min, 10) / 10) * 10;
            const maxValueYear = Math.ceil(parseInt(sliderYear.dataset.max, 10) / 10) * 10;
            const rangeYear = noUiSlider.create(sliderYear, {
                start: [minYear.value || minValueYear, maxYear.value || maxValueYear],
                connect: true,
                step: 1,
                range: {
                    'min': minValueYear,
                    'max': maxValueYear
                }


            });
            rangeYear.on('slide', function (values, handle) {
                if(handle === 0){
                    minYear.value = Math.round(values[0]);
                }
                if(handle === 1)
                {
                    maxYear.value = Math.round(values[1]);
                }
            })

        }

        $reset = $('#resetForm');

        $reset.click(() => {
            $('form input, form select').each(function () {
                $(this).val('');
            })
        })
    </script>

{% endblock %}
